{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Break Timer</h2>
    
    <div class="timer">
        <p id="break-timer">00:00</p>
    </div>
    
    <div class="timer-settings">
        <label for="break-minutes">Break Minutes:</label>
        <input type="number" id="break-minutes-input" value="2" min="0" max="59">
        <label for="break-seconds">Break Seconds:</label>
        <input type="number" id="break-seconds-input" value="0" min="0" max="59">
    </div>
    
    <button id="start-break-button" class="btn-large waves-effect waves-light brown rounded">Start Timer</button>
    <button id="back-to-work-button" class="btn-large waves-effect waves-light orange rounded">Get Back to Work!</button>
    
    <p id="break-update-message" style="display:none;"></p>
</div>

<script>
const timerElement = document.getElementById('break-timer');
const startButton = document.getElementById('start-break-button');
const backToWorkButton = document.getElementById('back-to-work-button');
const breakMinutesInput = document.getElementById('break-minutes-input');
const breakSecondsInput = document.getElementById('break-seconds-input');
const updateMessage = document.getElementById('break-update-message');

let timerInterval;
let totalTimeInSeconds = 0;
let isPaused = false;

const urlParams = new URLSearchParams(window.location.search);
const task_id = urlParams.get('task');

function updateTimerDisplay(timeInSeconds) {
    const minutes = Math.floor(timeInSeconds / 60);
    const seconds = timeInSeconds % 60;
    timerElement.textContent = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
}

function startTimer() {
    startButton.disabled = true;
    updateMessage.style.display = 'none';

    totalTimeInSeconds = parseInt(breakMinutesInput.value) * 60 + parseInt(breakSecondsInput.value);
    updateTimerDisplay(totalTimeInSeconds);

    timerInterval = setInterval(() => {
        if (!isPaused && totalTimeInSeconds > 0) {
            totalTimeInSeconds--;
            updateTimerDisplay(totalTimeInSeconds);
        } else if (totalTimeInSeconds === 0) {
            clearInterval(timerInterval);
        }
    }, 1000);
}

startButton.addEventListener('click', startTimer);

function backToWork() {
    window.location.href = `/timer/?task=${task_id}`;
}

backToWorkButton.addEventListener('click', backToWork);
</script>

{% endblock %}
