{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Welcome to the Pomodoro Timer App!</h2>
    <p>Boost your productivity with the power of the Pomodoro Technique. This technique helps you work efficiently by breaking your tasks into focused work sessions followed by short breaks.</p>
    
    <div style="margin-top: 50px;">
        <h2>How it Works</h2>
        <p>Start by setting your preferred work session duration and break time. When you begin, the timer will countdown your work session. Once the work session ends, a refreshing break time will begin automatically.</p>
    </div>
    
    <div style="margin-top: 50px;">
        <h2>Stay Focused and Energized</h2>
        <p>Studies have shown that breaking your work into smaller, focused intervals can help improve your concentration and prevent burnout. Our Pomodoro Timer App ensures you stay productive and energized throughout the day.</p>
    </div>
</div>

{% endblock %}
